/* Reference and software defaults. Override per run with -c or -params-file. */
params {
    humann_reference_root = '/data/Reference/HUMAnN'
    chocophlan = "${params.humann_reference_root}/chocophlan"
    uniref = "${params.humann_reference_root}/uniref"
    utility_mapping = "${params.humann_reference_root}/utility_mapping"

    humann_container = '/data/software/singularity/humann_3.9--py312hdfd78af_0.sif'
    singularity_cache = '/data/software/singularity/cache'
    singularity_bind = '/data:/data'

    input = null
    outdir = 'results'


    humann_cpus = 8
    humann_memory = '48 GB'
    humann_time = '72h'
    max_parallel_samples = 10
    publish_mode = 'copy'

    search_mode = 'uniref90'
    memory_use = 'minimum'
    prescreen_threshold = 0.01
    bowtie_options = '--very-sensitive'
    nucleotide_identity_threshold = 0.0
    nucleotide_query_coverage_threshold = 90.0
    nucleotide_subject_coverage_threshold = 50.0
    translated_alignment = 'diamond'
    diamond_options = '--top 1 --outfmt 6'
    evalue = 1.0
    translated_identity_threshold = null
    translated_query_coverage_threshold = 90.0
    translated_subject_coverage_threshold = 50.0

    gap_fill = 'on'
    minpath = 'on'
    pathways = 'metacyc'
    pathways_database = null
    id_mapping = null
    xipe = 'off'

    output_format = 'tsv'
    output_max_decimals = 10
    log_level = 'INFO'
    remove_temp_output = false
    remove_stratified_output = false
    remove_column_description_output = false

    bypass_nucleotide_index = false
    bypass_nucleotide_search = false
    bypass_translated_search = false
    humann_extra_args = ''

    run_join = true
    run_renorm = true
    renorm_units = 'cpm'
    renorm_mode = 'community'
    renorm_special = 'y'
    run_split_stratified = true
}
